/*############################ common ############################*/
.font-weight-bold {
    font-weight: bold;
}
.font-size-10 {
    font-size: 10px;
}
.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}
.font-size-13{
    font-size:13px;
}

.m-0 {
    margin: 0;
}

.ml-10 {
    margin-left: 10px;
}
pl-0{
    padding-left:0;
}
.float-r{
    float:right;
}
.float-l {
    float: left;
}

.border-none{
    border:none !important;
}

/*Disabled tag a*/
.isDisabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}

a[aria-disabled="true"] {
    color: currentColor;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}
/*############################ end common #########################*/

:root {
    --main-bg-color: #fb8153; /*blue #2470bb*/
    --main-bg-second-color: #ecf0f1; /*#ecf0f1;*/
    --main-link-color: #00418c;
    --main-text-color: #3b3b3b;
    --main-bg-hover-color: #fa6f3a;
    --main-boder-color: #dedede;
}

.navbar-default {
    background: #fff;
}

body {
    /*font-family: "Segoe UI";*/
    font-family: Arial, Tahoma,Calibri,Verdana,Geneva,sans-serif;
    color: #3b3b3b;
    font-size: 14px;
}

.pd-unset {
    padding-right: 0px;
    padding-left: 0px;
}

h3 {
    font-size: 21px;
}

.navbar-brand h1 {
    font-weight: 500;
    font-size: 16pt;
    color: #fff;
    margin: 0;
}

.rowcreater-post {
    text-align: left;
}
.rowcreater-post img {
    -ms-border-radius: 50%;
    border-radius: 50%;
    max-width: 50px;
}

    .rowcreater-post span.label {
        font-weight: normal;
        padding: .2em .4em .2em;
        margin: 5px 0px 0 0px;
        display: block;
        z-index: 5;
        font-size: 9px;
        width: 50%;
    }

.topicrow .rowdetails h3 a, .topicrow .rowdetails h3 a:visited {
    font-size: 13px;
    color: var(--main-link-color);
    font-weight: 600;
    margin-top: 7px;
    line-height: 0px;
    text-decoration: none;
}

.topicrow {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid var(--main-boder-color);
}

.btn-mvc-large, .btn-mvc-large:visited {
    padding: 9px 25px;
    font-size: 16px;
    line-height: 19px;
}

/*footer bottom*/
/*.main-section {
    position: relative;
    min-height: 100vh;
}*/
.mainbody {
    padding-bottom: 10rem;
}
/*footer {

    bottom: 0;
    width: 100%;
    height: 2.5rem;
}*/

.rowcreater span.label {
    font-weight: normal;
    padding: .2em .4em .2em;
    margin: 2px 0px 0 0px;
    display: block;
    z-index: 5;
}

ul.postadminlist .btn-mvc i {
    color: #b8b8b8;
}

ul.postadminlist .btn-mvc {
    background-color: none;
}

ul.postadminlist .btn-mvc, .btn-mvc:visited {
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    padding: 5px 12px;
    font-size: 13px;
    line-height: 12px;
}

    ul.postadminlist .btn-mvc:hover, .btn-mvc:focus, .btn-mvc:active, .btn-mvc:visited:hover, .btn-mvc:visited:focus, .btn-mvc:visited:active {
        text-decoration: none;
        background-color: #fff;
        color: #333;
    }

    ul.postadminlist .btn-mvc i:hover {
        color: #808080;
    }

.activityentry .activitybadgedescription {
    font-weight: 400;
}

.categories-box ul li {
    margin: 5px 0;
    list-style: none;
}

    .categories-box ul li a, .categories-box ul li a:visited {
        border-left: 3px #ecf0f1 solid;
        padding-left: 8px;
    }

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #dedede;
}

/*button create Topic*/
.btn-mvc-green, .btn-mvc-green:visited {
    background-color: var(--main-bg-color);
}

    .btn-mvc-green:hover, .btn-mvc-green:visited:hover {
        background-color: var(--main-bg-hover-color);
    }

    .btn-mvc-green:focus, .btn-mvc-green:active, .btn-mvc-green:visited:focus, .btn-mvc-green:visited:active {
        background-color: var(--main-bg-color);
        color: #fff;
    }
/*end button*/

/*List section*/
.panel-body {
    padding: 0;
}

.panel-mvc {
    border: none;
}

    .panel-mvc > .panel-heading {
        background: var(--main-bg-second-color);
        color: #fff;
        font-weight: 500;
        font-size: 13px;
        border-radius: 0;
        padding: 10px 0px;
    }
    .panel-mvc .panel-heading span {
        color: #3b3b3b;
    }
    .panel-mvc .panel-heading a.btn-collapse-pannel:after {
        font-family: 'Glyphicons Halflings';
        content: "\e113";
        float: right;
        color: #3b3b3b;
        cursor: pointer;
    }

    .panel-mvc .panel-heading a.btn-collapse-pannel.collapsed:after {
        content: "\e114";
        cursor: pointer;
    }
/*    .panel-mvc .panel-collapse {
        border: 1px solid var(--main-boder-color);
    }*/

.categoryrow {
    padding: 5px 5px;
    border-left: 1px solid var(--main-boder-color);
    border-bottom: 1px solid var(--main-boder-color);
    border-right: 1px solid var(--main-boder-color);
}

    .categoryrow:first-child {
        border-top: 1px solid var(--main-boder-color);
    }

    .categoryrow a, .categoryrow a:visited {
        color: var(--main-link-color);
    }

    .categoryrow h3 {
        border-left: none;
        padding-left: 0px;
    }

        .categoryrow h3 a.category-title, .categoryrow h3 a.category-title:visited {
            color: #00418c;
            font-weight: bold;
            font-size: 13px;
        }

    .categoryrow .categoryrow-image img {
        margin-top: 20%;
    }

.categoryrow-info .categoryrow-info-report {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}

    .categoryrow-info .categoryrow-info-report .catmostrecent p {
        margin-bottom: 0 !important;
    }

        .categoryrow-info .categoryrow-info-report .catmostrecent p span {
            font-size: 11px !important;
        }

        .categoryrow-info .categoryrow-info-report .catmostrecent p strong {
            font-size: 11px !important;
        }

.categoryrow-info-sub, .categoryrow-info-sub .categoryrow-sub-title, .categoryrow-info-sub .subcategoryholder {
    display: inline-block;
}

    .categoryrow-info-sub .categoryrow-sub-title {
        font-size: 11px;
        font-weight: bold;
    }

    .categoryrow-info-sub .subcategoryholder {
        border-top: none;
        border-bottom: none;
        padding: 0;
        margin: 0;
        font-size: 11px;
    }

        .categoryrow-info-sub .subcategoryholder ul li {
            list-style: none;
            display: inline-block;
            padding: 0;
        }

            .categoryrow-info-sub .subcategoryholder ul li a, .subcategoryholder ul li a:visited {
                border-color: none;
                border-left: none;
                padding-left: 5px;
            }

            .categoryrow-info-sub .subcategoryholder ul li a, .subcategoryholder ul li a:before {
                font-family: "Glyphicons Halflings";
                content: "\e111";
                display: inline-block;
                padding-right: 3px;
                vertical-align: middle;
                color: #b8b8b8;
            }

            .categoryrow-info-sub .subcategoryholder ul li a, .subcategoryholder ul li a span {
                font-family: Arial, Tahoma,Calibri,Verdana,Geneva,sans-serif;
                display: inline-block;
                color: var(--main-link-color);
            }


/*List Topic*/

.topicrow .rowcreater {
    float: left;
    text-align: center;
    width: 80px;
    line-height: 1.30769231;
}

    .topicrow .rowcreater .stats {
        margin: 0;
    }

    .topicrow .rowcreater .votes {
        color: #6a737c;
        font-size: 11.5px;
    }

.votes {
    padding: 0;
    margin-bottom: 8px;
    text-align: center;
}

.vote span {
    display: block;
    color: #6a737c;
}

.vote-count-post {
    display: block;
    font-size: 20px;
    margin: 0 0 3px;
}

    .vote-count-post strong {
        font-weight: normal;
        color: #6a737c;
    }

.topicrow .rowcreater .status.unanswered {
    color: #6a737c;
}

.topicrow .rowcreater .status {
    padding: 7px 0 5px;
    border-radius: 3px;
    font-size: 11.5px;
}

.status {
    padding: 0;
    margin-bottom: 8px;
    text-align: center;
}

.topicrow .rowcreater .status strong {
    font-size: 20px;
    font-weight: normal;
}

.status strong {
    display: block;
}

.topicrow .rowcreater .stats + .views {
    margin-left: 0;
}

.topicrow .rowcreater .views {
    font-size: 13px;
}

.views {
    text-align: center;
}

.status.answered {
    border-color: var(--main-bg-color);
}

    .status.answered, .status.answered .mini-counts, .status.answered strong {
        color: var(--main-bg-color);
    }

.answered, .answered-accepted {
    border: 1px solid transparent;
}

/*Nav header*/
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}

.navbar {
    border-bottom: 1px solid #dee2e6 !important;
    background: #fff !important;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.05) !important;
}

.navbar {
    margin-bottom: 0;
}

/*.navbar-collapse {
    padding: 0;
}*/
.navbar-brand {
    float: left;
    height: 50px;
    padding: 2px 0px 5px 0px;
    font-size: 18px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fb8153 !important;
    background: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:visited {
    color: #333;
    padding: 1.2em;
    font-weight: 500;
}

.navbar-nav > li > a {
    margin: 0;
    padding: 1.2em;
    text-transform: uppercase;
    color: #333;
    align-items: center;
    font-weight: 500;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:visited:hover, .navbar-default .navbar-nav > li > a:visited:focus {
    color: #fb8153;
    background-color: #fff !important;
    font-weight: 500;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:visited, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff !important;
    color: #fb8153;
}
    .navbar-default .navbar-nav > .open > a:focus {
        color: #fb8153 !important;
        background-color: #fff !important;
    }
nav.navbar.navbar-default {
    background: none;
    padding: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: none;
}

.navbar-default .navbar-nav > .active.open > a:focus {
    background: #0a9dbd;
    color: #fff;
}


#navbar-menu ul > li > a:hover span:before {
    width: 70%;
}

#navbar-menu ul > li > a span:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0%;
    height: 2px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fb8153;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}

#navbar-menu ul > li.active > a span:before {
    width: 70%;
}
/*main section tab header body*/
section.content-strip {
    margin-top: 51px;
    margin-bottom: 20px;
    background: var(--main-bg-second-color);
    color: #636267;
}

div.topic-permissions-control ul > li > a {
    color: var(--main-link-color);
    font-weight: bold;
}

.topic-permissions-description{
    border-left:1px solid var(--main-boder-color);
}

@media (max-width: 768px) {
    .topicrow .rowdetails h3 a, .topicrow .rowdetails h3 a:visited {
        font-size: 16px;
    }

}
/*pagination*/
.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    margin: 0 1px;
    border-radius: 5px;
}

/*post*/
.post {
    border: 1px #e6e6e6 solid;
    margin: 15px 0 15px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.postadmin {
    float: none;
    width: 0px
}
.postdetails {
    margin-right: 0px;
}

a.post-reply-quote {
    padding: 0px 15px;
    border-radius: 50%;
}
a.post-reply-quote .icon {
    color: #AAAAAA;
}

@media (max-width: 600px) {
    .postsocial ul{
        padding:0px;
    }
    .postsocial ul li {
        padding: 0px;
        width: auto;
        font-size:10.5px;
    }
}