@using MvcForum.Web.ViewModels
@using MvcForum.Web.ViewModels.Category
@model List<SectionListViewModel>
@{
    Layout = null;
}
<div class="row categoryindex">
   
    @foreach (var sectionItem in Model.OrderBy(x => x.Section.SortOrder))
    {
        if (sectionItem.AllPermissionSets.Any())
        {
            <div class="col-md-12 col-xs-12 panel panel-mvc">
                <div class="col-md-12 col-xs-12 panel-heading">
                    <span class="col-md-6 col-xs-10 font-weight-bold font-size-12">
                        @(sectionItem.Section.Name.ToUpper())
                    </span>
                    <span class="col-md-1 hidden-xs text-center">

                    </span>
                    <span class="col-md-2 hidden-xs text-center font-size-11">
                        Chủ đề / Bài viết
                    </span>
                    <span class="col-md-2 hidden-xs text-center font-size-11">
                        Bài viết cuối
                    </span>
                    <span class="col-md-1 col-xs-2 text-center">
                        <a data-toggle="collapse" data-target="#collapse-@sectionItem.Section.Id">
                        </a>
                    </span>
                </div>
                <div class="col-md-12 col-xs-12 panel-collapse collapse in pd-unset" id="collapse-@sectionItem.Section.Id">
                    <div class="panel-body">                       
                        @foreach (var cat in sectionItem.AllPermissionSets.Keys)
                        {
                            var permissions = sectionItem.AllPermissionSets[cat];

                            @Html.Partial("_Category", new CategoryViewModel {
                                Category = cat.Category,
                                LatestTopic = cat.MostRecentTopic,
                                Permissions = permissions,
                                PostCount = cat.PostCount,
                                TopicCount = cat.TopicCount
                            })

                        }
                    </div>

                </div>
            </div>   

        }
    }

</div>
